<div class="w-full h-full">
    <div class="flex items-center justify-center min-h-screen p-20 bg-gray-900">
        <div class="text-center">
            <h1 class="text-white text-4xl font-bold mb-6">Logo</h1>
            <div class="flex flex-col items-center">
                <img src="/success.gif" width="400" height="400" alt="Success">
                <h1 class="w-[612px] h-[88px] text-[36px] text-white font-[700] leading-[44px] mt-4">
                    Your <span class="text-[#4AC97E]">appointment request</span> has been successfully submitted!
                </h1>
                <p class="text[18px] font-[500] leading-[28px] text-[#ABB8C4]">We'll be in touch shortly to confirm.</p>
                <div class="flex items-center">
                    <h2 class="text-[#ABB8C4] leading-[36px] font-[500] text-[24px]">Requested appointment details:</h2>
                    <!-- <div *ngFor="let appointment of appointments" class="flex">
                        <p  class="text-white text-[24px] p-2">{{appointment.doctors}}</p>
                        <p  class="text-white text-[24px] p-2">{{appointment.date}}</p>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>